################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/APP MASTER/FileContentIndex/40f5e6dd-5565-4181-8a62-871f1d310d3c.vsidx
