@page "/"

<PageTitle>Algoritmos de Machine Learning para Trading</PageTitle>

<div>
    <RadzenImage Path="img/logo-iebs.png" Style="max-width: 30%; height: auto; margin-bottom: 20px" />

    <h1>Global Project</h1>

    <h3>Algoritmos de Machine Learning para Trading</h3>
</div>

<div style="display: flex; max-height: 80%" >
    <RadzenCard class="rz-my-12 rz-mx-auto" Style="width: 30%; align-content:center" >

        <RadzenText TextStyle="TextStyle.H4" Style="text-align:center"><b>GRUPO 8</b></RadzenText>


        <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start" Gap="1rem" class="rz-p-4">
            <RadzenImage Path="img/jaime.png" Style="max-width: 80%; height: auto; border-radius: 50%;" />
            <RadzenText TextStyle="TextStyle.Body1"><b>Jaime Fernández Hernández</b></RadzenText>
        </RadzenStack>

        <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start" Gap="1rem" class="rz-p-4">
            <RadzenImage Path="img/aaron.png" Style="max-width: 80%; height: auto; border-radius: 50%;" />
            <RadzenText TextStyle="TextStyle.Body1"><b>Aarón Frías Romero</b></RadzenText>
        </RadzenStack>

        <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start" Gap="1rem" class="rz-p-4">
            <RadzenImage Path="img/ana.png" Style="max-width: 80%; height: auto; border-radius: 50%;" />
            <RadzenText TextStyle="TextStyle.Body1"><b>Ana Isabel Candón Paños</b></RadzenText>
        </RadzenStack>
    </RadzenCard>

                
                
    <RadzenCard class="rz-my-12" Style="width: 100%; margin-left: 10 px">
        <RadzenText TextStyle="TextStyle.Body1">
            <h3>INSTRUCCIONES Y OBJETIVOS DE LA APLICACIÓN</h3>

            <br />

            <p>
                El objetivo de este proyecto ha sido el de crear un bot de trading que utilice
                una combinación de tres estrategias diferentes de trading basadas en indicadores 
                comúnmente utilizados en el trading:
            </p>
            <ul>
                <li>Indicadores de tendencia</li>
                <li>Indicadores de oscilación</li>
                <li>Indicadores de precio y volumen</li>
            </ul>

            <h5 style="margin-top: 20px">COMO UTILIZAR LA APLICACIÓN</h5>
            
            <p style="margin-top: 20px">
                Esta aplicación Web utiliza los modelos desarrollados para realizar el bot mediante
                una API en Python que también ha sido desarrollada en este proyecto.
            </p>

            <p>
                En el menú podemos encontrar dos funcionalidades:
            </p>

            <ol style="margin-top: 20px">
                <li>
                    <NavLink href="modelos"><strong>Modelos</strong></NavLink>: puedes consultar las señales
                    de compra o venta a lo largo de un periodo de tiempo que son generadas por el modelo que eligas.
                </li>
                <li>
                    <NavLink href="tickers"><strong>Datos históricos</strong></NavLink>: puedes realizar consultas
                    a datos históricos utilizando los datos de <a href="https://es.finance.yahoo.com/">Yahoo Finance</a>.
                </li>
            </ol>                        
        </RadzenText>
    </RadzenCard>
</div>


